.upload-section {
  position: relative;
  display: flex;
  justify-content: center;
}
.upload-conatiner {
  width: 50rem;
  margin: 0 auto;
}

.file-uploader {
  border: 2px dashed #aaa;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  width: 37%;
 
}

.file-uploader.drag-active {
  border-color: #007bff;
}

.file-uploader p {
  margin: 0;
}

.file-uploader p+p {
  margin-top: 10px;
}
.img-container {
  /* width: 20%; */
  height: 400px;
  border: 1px solid #ccc;
  /* position: relative; */
  /* overflow: hidden; */
  /* width: 100%; */

}
.img-container img {
  /* width: 42%; */
  height: 100%;
  object-fit: cover;
}
.cross-image {
  width: 16px;
  position: absolute;
  height: 16px;
  background:#ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: -8px;
  right: -6px;
  cursor: pointer;
}
.upload {
  margin-top: 20px;
}
.form-container {
  width: 29%;
  border: 1px solid;
  padding: 8px;
  margin-top: 16px
}